.form-control{
        font-size: 1.1rem ;
        border-radius: 2px ;
        margin-right: .5rem
}

.brand{
    text-align: center!important;
    font-weight: $generic-font-weight;
}

.topbar{
    // margin-top:0.5em!important
}

.input-box{
    font-weight: $generic-font-weight;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.3em!important;
}
