/*--This will serve as our core css
*/

$body-color: #8a002f;;
$background-color : #76e4b6;
$heading-background : #001529;
$topbar-margin-top-one: 1em;
$topbar-margin-left-one:1em;
$topbar-margin-bottom-one:1em;
$list-group-item-background-color:#f8f9fa;
$generic-font-weight:100!important;
$border-style-button:2px !important;
$text-style-button:uppercase;
$label-bg-color:#F7B6B6!important;
$white: #ffffff;
$light-gray: #cccccc;
